<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-card class="glass-card">
    <mat-card-title class="title">Connexion</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Entrez votre email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Entrez votre mot de passe" />
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" class="full-width-button">Se connecter</button>
    </mat-card-actions>
  </mat-card>
</form>
